body {
    font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
    font-size: 11pt; /* Размер основного шрифта в пунктах  */
    background-color: aliceblue; /* Цвет фона веб-страницы */
    color: #333; /* Цвет основного текста */
}
.h3{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
h3 {
    color: #333333;
    font-size: 24pt;
    font-family: Georgia, Times, serif; /* Семейство шрифтов */
    font-weight: normal;
}

p {
    color: #211F20;
    background: radial-gradient(100% 215.42% at 0% 0%, #b4e6e8 0%, #1c4444 100%), #211F20;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: justify;
    margin-left: 60px;
    margin-right: 10px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-left: 10px;
    padding-bottom: 10px;
}
.bacground  {
    width: 100%;
    background: radial-gradient(100% 215.42% at 0% 0%, cadetblue 0%, #333333 100%), #211F20;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -132px;
    padding-top: 185px;
}

